@import 'variables';

body {
    font-family: $font-family-base;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.site-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header, .site-footer {
    background-color: $color-primary;
    color: $color-text-light;
    padding: $spacing-small 0;
}

.logo {
    font-size: $font-size-large;
    text-align: center;
}

.site-header .container ul {
    list-style: none;
    padding: 0;
}

.site-header .container ul li {
    display: inline-block;
    margin-right: 20px;
}

.site-header .container ul li a {
    text-decoration: none;
    color: white;
}

.hamburger-menu {
    display: none; // Ocultar por padrão
    background: none;
    border: none;
    cursor: pointer;

    .hamburger-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px 0;
        transition: all 0.3s ease-in-out;
    }
}

#main-content{
    display: flex;
    padding: 50px 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-content section{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    max-width: 342px;
}

.project-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.project-card-link{
    text-decoration: none;
    color: $color-primary;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card-content {
    padding: 16px;
}

.project-card-title {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.project-card-description {
    font-size: 1rem;
    color: #666;
}

.site-footer {
    text-align: center;
    font-size: $font-size-small;
}

// Página Projetos

.container {
    flex-direction: row;
}

.container-projects{
    display: flex;
    padding: 50px 80px;
}

#filter-section {
    flex-basis: 20%;
    padding: 10px;
}
#filter-section ul{
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#filter-section ul li {
    display: block;
    min-width: auto;
    padding: 10px;
    margin-bottom: 10px; /* Espaço entre os botões */
    margin-right: 10px;
    background-color: #f2f2f2; /* Cor de fundo dos botões */
    color: $color-primary; /* Cor do texto dos botões */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease;
}
#filter-section ul li a{
    text-decoration: none;
    color: $color-primary;
}

#filter-section ul li a:hover{
    color: #151515;
    font-weight: bold;
}

#filter-section button:hover {
    background-color: #ddd; /* Cor de fundo dos botões ao passar o mouse */
}


#projects-list {
    display: flex;
    flex-basis: 80%;
}

/* Single page */
#single-project {
    flex-direction: column;
    background-color: #fff;
    padding: 20px 150px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#single-project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#single-project h2 {
    margin-top: 0;
}

#single-project p {
    margin: 10px 0;
}

#single-project a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#single-project a:hover {
    background-color: #449d44;
}

/* Projetos relacionados */
#related-projects {
    margin-top: 40px;
}
#related-projects section{
    display: flex;
}

#related-projects h2 {
    margin-bottom: 20px;
}

#related-projects div {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#related-projects a {
    text-decoration: none;
    color: $color-text-light;
}

#related-projects a:hover {
    text-decoration: underline;
}

// Página Contato

// Estilos para a página de contato
.contact-page {
    // Estilos para o cabeçalho da seção de contato
    display: flex;
    justify-content: center;
    padding: 50px 80px;
    .wp-block-heading {
        font-size: 2rem; // Tamanho da fonte do cabeçalho
        color: $color-primary; // Cor do texto do cabeçalho
        margin-bottom: $spacing-small; // Espaço abaixo do cabeçalho
    }

    // Estilos para o formulário de contato
    .wpcf7-form {
        background-color: #f9f9f9; // Cor de fundo do formulário
        padding: 16px 35px;
        width: 100%; // Espaçamento interno do formulário
        border-radius: 4px; // Bordas arredondadas do formulário
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra do formulário

        // Estilos para os campos de entrada do formulário
        .wpcf7-form-control {
            width: 92%; // Largura total dentro do seu contêiner
            margin-bottom: $spacing-small; // Espaço abaixo de cada campo
            border: 1px solid #ccc; // Borda dos campos de entrada
            border-radius: 4px; // Bordas arredondadas dos campos de entrada
            padding: $spacing-small; // Espaçamento interno dos campos de entrada

            // Estilos para o estado de foco dos campos de entrada
            &:focus {
                border-color: $color-primary; // Cor da borda quando o campo está focado
                outline: none; // Remover o contorno padrão
            }
        }

        // Estilos para o botão de envio
        .wpcf7-submit {
            width: -webkit-fill-available;
            background-color: $color-primary; // Cor de fundo do botão
            color: $color-text-light; // Cor do texto do botão
            padding: $spacing-small $spacing-medium; // Espaçamento interno do botão
            border: none; // Remover a borda do botão
            border-radius: 4px; // Bordas arredondadas do botão
            cursor: pointer; // Cursor do mouse como ponteiro
            transition: background-color 0.3s ease; // Transição suave da cor de fundo

            // Estilos para o estado de passar o mouse sobre o botão
            &:hover {
                background-color: darken($color-primary, 10%); // Escurecer a cor de fundo do botão
            }
        }
    }
}

// Media queries para dispositivos móveis
@media (max-width: 768px) {
    .hamburger-menu {
        display: block; // Mostrar o botão do menu hambúrguer
        position: absolute;
        right: 10%;
    }

    // Ocultar o menu principal e mostrar quando o menu hambúrguer é clicado
    .site-header .container ul {
        display: none;
    }

    // Quando o menu está ativo
    .site-header .container.active ul {
        display: block;
        position: absolute;
        top: 14%;
        left: 0;
        width: 100%;
        background-color: #333333f0;
    }

    .site-header .container ul li {
        display: block;
        margin-right: 0;
        text-align: center;
        padding: 15px 0px 15px 0px;
    }
    #main-content {
        place-content: center;
    }

    #main-content, .container-projects {
        padding: 20px;
    }

    .project-card, #single-project, #related-projects div {
        max-width: 100%;
        margin: 16px 0;
        padding: 50px;
    }

    #filter-section, #projects-list {
        min-width: fit-content;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-page{
        padding: 50px;
    }

    .contact-page .wp-block-heading {
        font-size: 1.5rem;
    }

    .contact-page .wpcf7-form {
        padding: 16px;
        max-width: fit-content;
    }
}

// Media queries para tablets
@media (max-width: 1024px) {
    .site-header .container ul li {
        margin-right: 10px;
    }

    #main-content, .container-projects {
        padding: 30px;
    }

    .project-card, #single-project, #related-projects div {
        max-width: 90%;
    }

    #filter-section, #projects-list {
        width: 100%;
    }

    .contact-page .wp-block-heading {
        font-size: 1.75rem;
    }

    .contact-page .wpcf7-form {
        padding: 16px 25px;
    }
}
