// Definições de cores
$color-primary: #333;
$color-text-light: #fff;

// Espaçamentos
$spacing-small: 10px;
$spacing-medium: 16px;

// Tipografia
$font-family-base: 'Arial', sans-serif;
$font-size-large: 2em;
$font-size-small: 0.8em;

// Layout
$container-width: 80%;
